#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;

}

html { overflow: hidden; 

}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 6px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  transition-duration: 0.4s;
  cursor: pointer;


  border-radius : 5px;
}




.button1 {

  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}


.button2 {
  margin-top: 10px;
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
}

.button2:hover {
  background-color: #4CAF50;
  color: white;
}


#countryContainer {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 30px;
  margin: .4rem;
  font: 1rem 'Fira Sans', sans-serif;
}

#country {
  
  width: 14%;
  text-align: center;
  top: 30px;
  margin: .4rem;
  font: 1rem 'Fira Sans', sans-serif;
}

.slidecontainer {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 10px;
  margin: .4rem;
  color : black;
  font: 1rem 'Fira Sans', sans-serif;
}

.info{
  position: absolute;
  width: 10%;
  height : 19%;
  background-color: white;
  text-align: center;
  bottom : 15px;
  right: 145px;
  margin: .4rem;
  font: 1rem 'Fira Sans', sans-serif;
  border : 2px solid black;
  border-radius: 8px;

}

img{
  position: absolute;
  bottom: 30px;
  left: 120px;
  border: 5px solid white;
  border-radius: 6px;
}

p,
label {
  color : white;
    font: 1rem 'Fira Sans', sans-serif;
}

input {
  color : white;
    margin: .4rem;
}


.slider {
  -webkit-appearance: none;
  width: 95%;
  text-align: center;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.8;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

/* 
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #cccccc;
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
} */
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #eeeeee;
  padding: 1rem 1.5rem;
  width: 34rem;
  height: 14rem;
  border-radius: 0.5rem;
  border: 4px solid #5bb0ff;
}
.close-button {
  float: right;
  width: 2rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 30px;
  background-color: #eeeeee;
}
.close-button:hover {
  background-color: #adadad;
}
.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}