#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;

}

html { overflow: hidden; 

}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 6px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  transition-duration: 0.4s;
  cursor: pointer;


  border-radius : 5px;
}




.button1 {

  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}


.button2 {
  margin-top: 10px;
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
}

.button2:hover {
  background-color: #4CAF50;
  color: white;
}


#cropCheckBox{
  position: absolute;
  width: 100%;
  text-align: center;
  top: 28%;
  margin: .4rem;
  font: 1rem 'Fira Sans', sans-serif;
}

#countryContainer {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 30px;
  margin: .4rem;
  font: 1rem 'Fira Sans', sans-serif;
}

#country {
  
  width: 14%;
  text-align: center;
  top: 30px;
  margin: .4rem;
  font: 1rem 'Fira Sans', sans-serif;
}

.slidecontainer {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 10px;
  margin: .4rem;
  color : black;
  font: 1rem 'Fira Sans', sans-serif;
}

#myDataviz{
  position: absolute;
  width: 25%;
  text-align: center;
  top: 10px;
  right: 10px;
  margin: .4rem;
  color : rgb(255, 255, 255);
  font: 1rem 'Fira Sans', sans-serif;
  background-color: rgb(255, 255, 255);
}

.info{
  position: absolute;
  width: 10%;
  height : 19%;
  background-color: white;
  text-align: center;
  bottom : 15px;
  right: 145px;
  margin: .4rem;
  font: 1rem 'Fira Sans', sans-serif;
  border : 2px solid black;
  border-radius: 8px;

}

img{
  position: absolute;
  bottom: 30px;
  left: 120px;
  border: 5px solid white;
  border-radius: 6px;
}

p,
label {
  color : white;
    font: 1rem 'Fira Sans', sans-serif;
}

input {
  color : white;
    margin: .4rem;
}


/* .slider {
  -webkit-appearance: none;
  width: 95%;
  text-align: center;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.8;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
} */

/* 
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #cccccc;
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
} */
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #eeeeee;
  padding: 1rem 1.5rem;
  width: 34rem;
  height: 14rem;
  border-radius: 0.5rem;
  border: 4px solid #5bb0ff;
}
.close-button {
  float: right;
  width: 2rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 30px;
  background-color: #eeeeee;
}
.close-button:hover {
  background-color: #adadad;
}
.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}



/* The container */


/* .slidecontainer {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 10px;
  margin: .4rem;
  color : black;
  font: 1rem 'Fira Sans', sans-serif;
} */


/* .container {

  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 10px;
  margin: .4rem;
  color : black;
  font: 1rem 'Fira Sans', sans-serif;
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
} 



.middle {
  position: absolute;
  top : 90%;
  left:42%;
	width: 50%;
	max-width: 500px;
  min-width: 500px;
}

.slider {
	position: relative;
	z-index: 1;
	height: 10px;
	margin: 0 15px;
}
.slider > .track {
	position: absolute;
	z-index: 1;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	border-radius: 5px;
	background-color: #c6aee7;
}
.slider > .range {
	position: absolute;
	z-index: 2;
	left: 25%;
	right: 25%;
	top: 0;
	bottom: 0;
	border-radius: 5px;
	background-color: #6200ee;
}
.slider > .thumb {
	position: absolute;
	z-index: 3;
	width: 30px;
	height: 30px;
	background-color: #6200ee;
	border-radius: 50%;
	box-shadow: 0 0 0 0 rgba(98,0,238,.1);
	transition: box-shadow .3s ease-in-out;
}
.slider > .thumb.left {
	left: 25%;
	transform: translate(-15px, -10px);
}
.slider > .thumb.right {
	right: 25%;
	transform: translate(15px, -10px);
}
.slider > .thumb.hover {
	box-shadow: 0 0 0 20px rgba(98,0,238,.1);
}
.slider > .thumb.active {
	box-shadow: 0 0 0 40px rgba(98,0,238,.2);
}

input[type=range] {
	position: absolute;
	pointer-events: none;
	-webkit-appearance: none;
	z-index: 2;
	height: 10px;
	width: 100%;
	opacity: 0;
}
input[type=range]::-webkit-slider-thumb {
	pointer-events: all;
	width: 30px;
	height: 30px;
	border-radius: 0;
	border: 0 none;
	background-color: red;
	-webkit-appearance: none;
}


.youtube-link {
	position: fixed;
	left: 20px;
	bottom: 20px;
	color: #000;
	text-decoration: none;
	font-size: 12px;
}